.central {
  position: relative;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.timer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.task {
  width: 70%;
}

.hints {
  position: relative;
  top: 60px;
}

.hint {
  color: rgba(255, 255, 255, 0.7);
}
