.video {
  width: 100vw;
  height: 100vh;
}

.disabledMouse {
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mainWindow {
  width: 55%;
  height: 60%;
}
