.video {
  width: 100vw;
  height: 100vh;
}

.disabledMouse {
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mainWindow {
  width: 60%;
  height: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.focusMedia {
  position: absolute;
  top: 3%;
  right: 3%;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.videoListBox {
  height: calc(100% - 45px);
}
