.video {
  width: 100vw;
  height: 100vh;
}

.disabledMouse {
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mainWindow {
  width: 55%;
  height: 60%;
}

.hidden {
  opacity: 0;
}

.central {
  position: relative;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.timer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.task {
  width: 40%;
}
