.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 1em;
  padding: 11px 17px;
  margin: 0;
  border: none;
  color: var(--Text-Primary);
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.hideBg {
  background-color: rgba(255, 255, 255, 0);
}

.btn.hideBg:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.round {
  padding: 11px 11px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.18);
}

.btn:active {
  background: rgba(255, 255, 255, 0.12);
}

.btn:disabled {
  cursor: not-allowed;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--Text-Primary);
}
