.window {
  border-radius: 46px;
  padding: 28px;
  border: 1px solid var(--windows-stroke-glass-specular);
  background: var(--Windows-Glass);
  background-blend-mode: luminosity;
  backdrop-filter: blur(50px);
  transition: all 0.4s ease-out;
}
