:root {
  /* CSS Variables */
  --Windows-Glass: rgba(128, 128, 128, 0.3);
  --windows-stroke-glass-specular: rgba(255, 255, 255, 0.2);
  --Text-Primary: rgba(255, 255, 255, 0.96);
  --Text-Secondary: rgba(255, 255, 255, 0.7);
  --Seperator: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: var(--Text-Primary);
}

.bold {
  font-weight: 700;
}

.window-title {
  color: var(--Text-Primary);
  font-weight: 500;
  font-size: 1.3em;
}
