/* MUI Customization */

/* Input */
.MuiInputBase-root.MuiInput-root {
  border-radius: 12px;
  padding: 6px 20px;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  background-blend-mode: luminosity, color-burn;
  background: rgba(142, 142, 142, 0.2);
  box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.1) inset,
    1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset,
    0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px -0.5px 1px 0px rgba(255, 255, 255, 0.3) inset;
}

.MuiInputBase-root.MuiInput-root .MuiInputBase-input.MuiInput-input {
  font-size: 1.1em;
  color: var(--Text-Secondary);
}

.MuiInputBase-root.MuiInput-root:hover {
  background: rgba(165, 165, 165, 0.25);
}

/* Switch */
.MuiSwitch-root .MuiSwitch-track {
  background: rgba(186, 186, 186, 0.9);
}

.MuiSwitch-root
  .MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked
  .MuiSwitch-thumb {
  color: white;
}

.MuiSwitch-root
  .MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: rgb(0, 255, 38);
}

/* Radio */
.MuiButtonBase-root.MuiRadio-root .MuiSvgIcon-root {
  color: var(--Text-Primary);
}

.MuiButtonBase-root.MuiRadio-root.Mui-checked .MuiSvgIcon-root {
  color: var(--Text-Primary);
}

/* Slider */
.MuiSlider-root .MuiSlider-rail {
  color: var(--Text-Primary);
}

.MuiSlider-root .MuiSlider-track {
  color: var(--Text-Primary);
}

.MuiSlider-root .MuiSlider-thumb {
  color: rgba(255, 255, 255, 1);
}

.MuiSlider-root .MuiSlider-thumb:hover {
  box-shadow: none;
}
