.box {
  color: var(--Text-Primary);
}

.title {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 10px;
}

.tab {
  margin-left: 30px;
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 40px;
}

.justifyEnd {
  justify-content: end;
}

.last {
  margin-bottom: 35px;
}

.unit {
  color: var(--Text-Secondary);
  margin-left: 10px;
  font-size: 1.1em;
}

.desc {
  color: var(--Text-Secondary);
  font-size: 0.9em;
}

.subTitle {
  color: var(--Text-Primary);
  font-size: 1.2em;
  margin-top: 3px;
}

.mb {
  margin-bottom: 10px;
}
